@import "../theme";

p {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 16px;
  color: #fff;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
